.subject-sem1 ul {
  list-style: decimal;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  flex-direction: column;
  color: rgb(255, 255, 11);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 550;
}

.subject-sem1 ul li:hover {
  color: rgb(81, 235, 81);
}

@keyframes color {
  0% {
    color: brown;
  }
  30% {
    color: green;
  }

  60% {
    color: yellow;
  }
  100% {
    color: orange;
  }
}
